<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to PDFtron 3000TM</title>
  </head>
  <body>
      <h1>PDFtron 3000TM</h1>
      <form class="fuck_my_life" action="/" method="post">
          <label>Title</label>
          <br>
          <input type="text" name="pdf[name]" placeholder="Name" required>
          <br>
          <label>Email Address</label>
          <br>
          <input type="text" name="pdf[email_id]" placeholder="Email Address" required>
          <br>
          <label>Contact number</label>
          <br>
          <input type="number" name="pdf[contact_no]" placeholder="Contact Number" required>


          <h1>        </h1>
          <label>Education</label>
          <br>
          <label>Degree Name</label>
          <br>
          <input type="text" name="pdf[edu_name]" placeholder="Degree Name" required>
          <br>
          <label>Year of Graduation</label>
          <br>
          <input type="text" name="pdf[edu_year]" placeholder="Year of Graduation" required>
          <br>
          <label>Name of the College</label>
          <br>
          <input type="text" name="pdf[edu_college]" placeholder="Name of the College" required>
          <br>
          <label>Score out of</label>
          <br>
          <input type="text" name="pdf[edu_grade]" placeholder="Score recieved out of" required>


          <h1>        </h1>
          <label>Honors</label>
          <br>
          <label>Name of the Honor</label>
          <br>
          <input type="text" name="pdf[honor_name]" placeholder="Honor Name" required>
          <br>
          <label>Year of recieving honor</label>
          <br>
          <input type="text" name="pdf[honor_year]" placeholder="Year of recieving honor" required>
          <br>
          <label>Describe your honor</label>
          <br>
          <textarea name="pdf[honor_desc]" rows="5" cols="80" placeholder="Please describe about the achievement here..." required></textarea>

          <h1>        </h1>
          <label>Experience</label>
          <br>
          <label>Name of the organization</label>
          <br>
          <input type="text" name="pdf[exp_name]" placeholder="Name of the organization" required>
          <br>
          <label>Position at the organization</label>
          <br>
          <input type="text" name="pdf[exp_position]" placeholder="Position at the organization" required>
          <br>
          <label>Period of Service</label>
          <br>
          <input type="text" name="pdf[exp_year]" placeholder="Period of Service" required>
          <br>
          <label>Describe your role</label>
          <br>
          <textarea name="pdf[exp_desc]" rows="5" cols="80" placeholder="Please describe about your role here..." required></textarea>

          <h1>        </h1>
          <label>Skills</label>
          <br>
          <input type="text" name="pdf[skills]" placeholder="Skills" required>

          <h1>        </h1>
          <label>Project</label>
          <br>
          <label>Name of the project</label>
          <br>
          <input type="text" name="pdf[project_name]" placeholder="Project Name" required>
          <br>
          <label>Period of work</label>
          <br>
          <input type="text" name="pdf[project_year]" placeholder="Time period of work" required>
          <br>
          <label>Describe your project</label>
          <br>
          <textarea name="pdf[project_desc]" rows="5" cols="80" placeholder="Please describe the project here..." required></textarea>
          <br>
          <label>Link to the project</label>
          <br>
          <input type="text" name="pdf[project_link]" placeholder="Link to the project if any.">

          <h1>        </h1>
          <Profiles>
          <br>
          <label>LinkedIn</label>
          <br>
          <input type="text" name="pdf[linkedin]">
          <br>
          <label>GitHub</label>
          <br>
          <input type="text" name="pdf[github]">
          <br>
          <label>Facebook</label>
          <br>
          <input type="text" name="pdf[facebook]">
          <br>
          <button type="submit">Make my resume</button>
      </form>
  </body>
</html>
